

  /* Reset some default styles */
  body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    margin-top: 100px;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .tabs {
    display: flex;
    margin-bottom: 20px;
  }
  
  .navButtons {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .forms {
    display: flex;
    justify-content: space-evenly;
  }
  
  form {
    width: 45%;
  }
  
  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  #submitevent:hover, #submitclub:hover {
    background-color: #726f64bc
  }
  
  .eventform {
    width: 70%;
    margin: 0 auto; /* Center the form */
    padding-left: 100px;
  }
  
  #clubform{
    width: 70%;
    margin: 0 auto; /* Center the form */
    padding-right: 200px;
    
  }
  
  #eventButton{
    transform: translate(-55%);
    background-color: #726f64bc;
  }

  #clubButton{
    background-color: #726f64bc;
  }
  
  .forms{
  background-color: beige;
  }

  #submitclub{
    background-color: #726f64bc;
  }

  #submitevent{
    background-color: #726f64bc;
  }

  #eventButton:hover {
    background-color: #171718;
  }

  #clubButton:hover{
    background-color:  #171718;
  }
  
  #submitclub:hover{
    background-color: #171718;
  }

  #submitevent:hover{
    background-color: #171718;
  }